body {
  background-color: blue;
  font-family: Arial, sans-serif;
 text-align: center;
  padding: 60px;
}

h1 {
  font-size: 80px;
  color: gold;
  margin-bottom: 20px;
  text-shadow: 2px 2px red;
}

img{
  border-radius: 8px;
    }

a:link{
  background-color:aqua;
  text-decoration:none;

}
a:visited{
  background-color:cyan;
  text-decoration:none;

}
a:hover{
  backgorund-color:Lightgreen;
  text-decoration:underline;

}
a:active{
  background-color:Hotpink;

}
